<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Login" value="Login" />
    <add key="Password" value="Password" />
    <add key="BaseAddress" value="http://pixers.pl" />
    <add key="Fototapeta" value="Fototapeta - Grunwaldzki bridge in wroclaw"/>
  </appSettings>
</configuration>